# Copy to .env and fill in values

# OpenAI
OPENAI_API_KEY=
VECTOR_STORE_ID=

# Auth0
AUTH0_ISSUER=https://dev-65wmmp5d56ev40iy.us.auth0.com/

# Local server
PORT=8788
RESOURCE_SERVER_URL=http://localhost:8788
JWT_AUDIENCES=http://localhost:8788,http://localhost:8788/,https://dev-65wmmp5d56ev40iy.us.auth0.com/userinfo
